In [2]:
import cx_Oracle
from elasticsearch import Elasticsearch
from elasticsearch import helpers
import pandas as pd
import numpy as np
import json
from ssl import create_default_context
from datetime import datetime
from datetime import timedelta
#para request
import requests
from getpass import getpass
import parametros
import time
import re

In [10]:
def OutputTypeHandler(cursor, name, defaultType, size, precision, scale):
    if defaultType == cx_Oracle.CLOB:
        return cursor.var(cx_Oracle.LONG_STRING, arraysize=cursor.arraysize)
    if defaultType == cx_Oracle.BLOB:
        return cursor.var(cx_Oracle.LONG_BINARY, arraysize=cursor.arraysize)
    
dsn_tns = cx_Oracle.makedsn('172.22.108.86', '1950', service_name='DWHPDB') # if needed, place an 'r' before any parameter in order to address special characters such as '\'.
conn = cx_Oracle.connect(user=r'MINTICREPO', password='M1nt1Cr3po0rt3s', dsn=dsn_tns) # if needed, place an 'r' before any parameter in order to address special characters such as '\'. For example, if your user name contains '\', you'll need to place 'r' before the user name: user=r'User Name'
conn.outputtypehandler = OutputTypeHandler

c = conn.cursor()

fecha_max='2021-09-16 15:26:17'
c.execute("select count(*) FROM USRODI.SM_INCIDENTES_MINTIC where clr_bmc_location = 'bmcintegrationsm' and sysmodtime > TO_DATE( '"+ fecha_max +"', 'YYYY-MM-DD HH24:MI:SS')")
for row in c:
   print(row)

#c.execute("SELECT count(*) FROM USRODI.SM_INTERACCIONES INTE INNER JOIN USRODI.SM_INCIDENTES_MINTIC INCI ON INTE.incident_id = INCI.incident_id where INTE.clr_txt_assignment = 'EYN - NOCMINTIC' and INTE.opened_by= 'smservicedeskplus' and INCI.sysmodtime > TO_DATE( '"+ fecha_max +"', 'YYYY-MM-DD HH24:MI:SS')")
c.execute("SELECT count(*) FROM USRODI.SM_INTERACCIONES INTE INNER JOIN USRODI.SM_INCIDENTES_MINTIC INCI ON INTE.incident_id = INCI.incident_id where INTE.clr_txt_assignment = 'EYN - NOCMINTIC' and INTE.opened_by= 'smservicedeskplus'")
for row in c:
   print(row)

c.execute("SELECT count(*) FROM USRODI.SM_INCIDENTES_MINTIC INCI where inci.assignment = 'EYN - NOCMINTIC' and (inci.contact_service IS NULL or inci.contact_service NOT LIKE  'smservicedeskplus') and inci.opened_by NOT LIKE 'bmcintegrationsm' and INCI.sysmodtime > TO_DATE( '"+ fecha_max +"', 'YYYY-MM-DD HH24:MI:SS')")
#c.execute("SELECT count(*) FROM USRODI.SM_INCIDENTES_MINTIC INCI where inci.assignment = 'EYN - NOCMINTIC' and inci.contact_service IS NULL or inci.contact_service NOT LIKE  'smservicedeskplus' and inci.opened_by NOT LIKE 'bmcintegrationsm'")
for row in c:
   print(row)

c.execute("SELECT count(*) FROM USRODI.SM_INTERACCIONES INTE INNER JOIN USRODI.SM_INCIDENTES_MINTIC INCI ON INTE.incident_id = INCI.incident_id where INTE.clr_txt_assignment = 'EYN - NOCMINTIC' and INTE.opened_by NOT LIKE  'smservicedeskplus%' and INCI.sysmodtime > TO_DATE( '"+ fecha_max +"', 'YYYY-MM-DD HH24:MI:SS')")
for row in c:
   print(row)

c.execute("SELECT count(*) FROM USRODI.SM_INTERACCIONES INTE LEFT JOIN USRODI.SM_INCIDENTES_MINTIC INCI ON INTE.incident_id = INCI.incident_id where INCI.incident_id IS NULL AND INTE.clr_txt_assignment = 'EYN - NOCMINTIC' and INTE.opened_by NOT LIKE 'smservicedeskplus%' and INTE.sysmodtime > TO_DATE( '"+ fecha_max +"', 'YYYY-MM-DD HH24:MI:SS')")
for row in c:
   print(row)

(0,)
(39,)
(20,)
(0,)
(0,)